* {
    box-sizing: border-box;
}

body {
    top: 0;
    margin: 0;
    background-color: $color-background-light;    
}

// MENU
.menu {
    position: fixed;
    // width: 100%;
    color: aliceblue;
}

// WELCOME SECTION
.section {
    &__welcome {
        display: flex;
        background: url("../assets/images/hero_cafe.jpg") fixed;
        background-size: cover;
        height: 100vh;
        .welcome {
            &__header {
                flex: 1 4 32rem;
                // display: flex;
                // width: 100%;
                // justify-content: center; 
                
                // flex-wrap: wrap;
                margin: 14%;
                // font-size: 2rem;
                text-align: center;
                color: white;
                h1 {
            
                }
                p {
                    margin-top: 2em;
                    align-self: baseline;
                }
            }
        }
        .wrapper {
            position: absolute;
            bottom: -66px;
            left: 45%;
            
        }
        

    }
}

// INFO SECTION
.section {
    &__info {
        display: flex;
        flex-flow: row wrap;
        margin: 8em 0;
        .info {
            // width: 30%;
            &__text {
                flex: 1 3 24rem;
                margin: 0 7%;
                h4, p {
                    margin-bottom: 2em;
                }
            }
            &__image {
                flex: 1 1 24rem;
                // margin: 0 7%;
                img {
                    object-fit: cover;
                    width: 100%;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                }
            }
            &__quote {
                flex: 1 1 100%;
                align-content: center;
                width: 100%;
                blockquote {
                    font-family: "Abril Fatface", serif;
                    font-size: 18px;
                    font-style: italic;
                    text-align: justify;
                    margin: 3em 0.25em 0em 0.25em;
                    padding: 0.35em 40px;
                    line-height: 1.45;
                    position: relative;
                    color: #383838;
                    &:before {
                        display: block;
                        padding-left: 10px;
                        content: "\201C";
                        font-size: 80px;
                        position: absolute;
                        left: -20px;
                        top: -20px;
                        color: $color-main-contrast;
                    }
                    cite {
                        color: #999999;
                        font-size: 14px;
                        display: block;
                        margin-top: 5px;
                        &:before {
                            content: "\2014 \2009";
                        }
                    }
                }
            }
        }
    }
}

// FEATURE SECTION
.section {
    &__feature {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background: url("../assets/images/images_feature.jpg") fixed;
        background-size: cover;
        .feature {
            margin: 2rem;
            // width: 70%;
            background-color: $color-background-light;      
            &__card {
                display: flex;
                flex-wrap: wrap;

                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                .card {
                    flex: 1 1 20em;
                    &__header {
                        width: 100%;
                        padding: 2rem;
                    }
                    &__image {
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    &__text {
                        margin: 2em;
                    
                        // width: 45%;
                        // align-self: center;
                        // text-align: center;
                        h4 {
                            margin-bottom: 2em;
                            // margin: 0 0 2em 0;
                            // color: $color-main-contrast;
                        }
                        p {
                            // text-align: justify;
                        }
                    }
                }
                
            }
        }
    }
}

// GALLERY SECTION
.section {
    &__gallery {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 8% 0;
        max-width: 100rem;
        .gallery {
            flex: 1 1 16rem;
            margin: 0.5rem 1rem;
            &__header {
                h4 {
                    margin-bottom: 1rem;
                }
                
            }
            &__image {
                overflow: hidden;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // overflow: hidden;
                    // margin: 2%;
                    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                }
            }
            &__text {

            }
        }
    }
}

// FOOTER
.footer {
    
    &__banner {
        height: 10rem;
        width: 100%;
        // background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
        // background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
        // background-blend-mode: multiply;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        h2 {
            text-align: center;
            color: $color-background-light;
        }
    }
}